
*.out
parser.out
*.out
parsetab.py
dirVariables.json
dirFunc.json
parser.out
parser.out
__pycache__/parsetab.cpython-37.pyc
__pycache__/dirFunciones.cpython-37.pyc
parser.out
dirFunc.json
parser.out
prueba.txt
*.out
*.pyc
*.pyc
dirFunc.json
pastel.html
median.html
plot.html
promedio.html
pie_chart.html
